---
import { tv, type VariantProps } from 'tailwind-variants';
import { notroColorVariants } from 'notro';

export const h2 = tv({
  base: 'mb-2 mt-6 text-2xl font-semibold tracking-tight',
  variants: { color: notroColorVariants },
});

interface Props extends VariantProps<typeof h2> {
  id?: string;
  class?: string;
}

const { color, id, class: className } = Astro.props;
---
<h2 {id} class={h2({ color, class: className })}><slot /></h2>
