---
import { tv, type VariantProps } from 'tailwind-variants';
import { notroColorVariants } from './colors';

export const h3 = tv({
  base: 'mb-2 mt-6 text-xl font-semibold',
  variants: { color: notroColorVariants },
});

interface Props extends VariantProps<typeof h3> {
  id?: string;
  class?: string;
}

const { color, id, class: className } = Astro.props;
---
<h3 {id} class={h3({ color, class: className })}><slot /></h3>
