---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import { notroColorVariants } from './colors';

export const h3 = tv({
  base: 'mb-2 mt-6 text-xl font-semibold',
  variants: { color: notroColorVariants },
});

interface Props extends Omit<HTMLAttributes<'h3'>, 'color'>, VariantProps<typeof h3> {}

const { color, class: className, ...rest } = Astro.props;
---
<h3 class={h3({ color, class: className })} {...rest}><slot /></h3>
