---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import { notroColorVariants } from './colors';

export const tableCell = tv({
  base: 'px-3 py-1.5 text-sm',
  variants: { color: notroColorVariants },
});

type Props = Omit<HTMLAttributes<'td'>, 'color'> & VariantProps<typeof tableCell>;

const { color, class: className, ...rest } = Astro.props;
---
<td class={tableCell({ color, class: className })} data-slot="table-cell" {...rest}><slot /></td>
