---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { NotroContent } from "notro";
import { getPlainText } from "notro/utils";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.data.properties.Slug.rich_text[0]?.plain_text },
    props: { page },
  }));
}

const { page } = Astro.props;
const title = getPlainText(page.data.properties.Name.title);
---

<Layout title={title}>
  <main class="nt-container">
    <article>
      <h1 class="nt-heading">{title}</h1>
      <div class="notro-markdown">
        <NotroContent markdown={page.data.markdown} />
      </div>
    </article>
  </main>
</Layout>
