---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getPlainText } from "notro/utils";

const pages = await getCollection("pages");
const sorted = pages.slice().sort((a, b) => {
  const aSlug = a.data.properties.Slug.rich_text[0]?.plain_text ?? "";
  const bSlug = b.data.properties.Slug.rich_text[0]?.plain_text ?? "";
  return aSlug.localeCompare(bSlug);
});
---

<Layout title="My Site">
  <main class="nt-container">
    <h1 class="nt-heading">My Site</h1>
    <ul class="nt-page-list">
      {sorted.map((page) => {
        const slug = page.data.properties.Slug.rich_text[0]?.plain_text;
        const title = getPlainText(page.data.properties.Name.title);
        return (
          <li>
            <a href={`/${slug}/`} class="nt-link">{title}</a>
          </li>
        );
      })}
    </ul>
  </main>
</Layout>
