---
import { getCollection } from "astro:content";
import { getPlainText } from "notro";

const footerPages = await getCollection("pages", ({ data }) => {
  const type = getPlainText(data.properties.Place);
  return type?.includes("Footer");
});
---

{
  footerPages.length > 0 ? (
    <footer>
      <div>
        <ul>
          {footerPages.map(({ data }) => (
            <li>
              <a href={"/" + getPlainText(data.properties.Slug)}>
                {getPlainText(data.properties.Name)}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </footer>
  ) : null
}
