---
import { getCollection } from "astro:content";
import { getPlainText } from "notro";

const headerPages = await getCollection("pages", ({ data }) => {
  const type = getPlainText(data.properties.Place);
  return type?.includes("Header");
});
---

{
  headerPages.length > 0 ? (
    <header>
      <nav>
        <ul>
          {headerPages.map(({ data }) => (
            <li>
              <a href={"/" + getPlainText(data.properties.Slug)}>
                {getPlainText(data.properties.Name)}
              </a>
            </li>
          ))}
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
  ) : null
}
