---
import { getCollection } from "astro:content";
import { NotionBlocks } from "notro";

const collection = await getCollection("posts");
const { entry } = Astro.props;
---
<html>
<body>
<NotionBlocks blocks={entry[0].data.blocks} />
</body>
</html>
