---
import { getCollection } from "astro:content";
import { getPlainText, NotionMarkdownRenderer } from "notro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const collection = await getCollection("pages");
  const linkToPages = Object.fromEntries(
    collection.map((e) => [
      e.id,
      {
        url: getPlainText(e.data.properties.Slug) ?? e.id,
        title: getPlainText(e.data.properties.Page) ?? "",
      },
    ])
  );
  return collection.map((entry) => {
    const slug = getPlainText(entry.data.properties.Slug) || entry.id;
    return {
      params: { slug: slug !== "index" ? slug : undefined },
      props: { entry, linkToPages },
    };
  });
}

const { entry, linkToPages } = Astro.props;
---

<Layout title={getPlainText(entry.data.properties.Page) ?? entry.id}>
  <main class="nt-page" id={entry.id}>
    <NotionMarkdownRenderer markdown={entry.data.markdown} linkToPages={linkToPages} />
  </main>
</Layout>
