---
import { getEntry } from "astro:content";
import NotionCustomBlocks from "notro/src/components/NotionCustomBlocks.astro";
import Layout from "../layouts/Layout.astro";

// FIXME https://docs.astro.build/en/guides/content-collections/
const entry = await getEntry(
  "database",
  "9c477872-a357-4526-b281-006d9db8a992",
);

const options = {
  optimizeRemoteImage: true,
  useRawHTML: true,
  useCalloutContainer: true,
};
---

{
  entry && (
    <Layout title={"title"}>
      <main class="nt-page" id={"page.id"}>
        <NotionCustomBlocks blocks={entry.data.blocks} options={options} />
      </main>
    </Layout>
  )
}
