---
import config from "../config";
---

<footer class="border-t nt-border mt-16 dark:bg-slate-800 dark:border-white/8">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="py-6 text-center">
      <span class="text-sm nt-text-40 dark:text-slate-500">&copy; {new Date().getFullYear()} {config.site.name}</span>
    </div>
  </div>
</footer>
